<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <title>Edit</title>
</head>
<body class="center">
<header class="header">
    <a class="header_link" href="/">Главная</a>
    <a class="header_link" href="/words">Список слов</a>
</header>

<h1>Редактирование</h1>
<hr/>
<form action="#" th:action="@{/words/{id}(id=${word.id})}" th:object="${word}" th:method="patch">
    <label for="english">English</label>
    <input type="text" th:field="*{english}" id="english" placeholder="English">
    <label for="russian">Russian</label>
    <input type="text" th:field="*{russian}" id="russian" placeholder="Russian">
    <input type="submit" value="Обновить">
</form>
</body>
</html>
