<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/l-t.png" type="image/x-icon">
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Language trainer</title>
</head>
<body class="center-table">
<header class="header">
    <a class="header_link" href="/">Главная</a>
    <a class="header_link" href="/words">Список слов</a>
</header>

<h1>Список слов</h1>
<hr/>
<table class="center-table">
    <tr>
        <th><a th:href="@{/words(sort = 'english')}" th:text="English"/></th>
        <th><a th:href="@{/words(sort = 'russian')}" th:text="Russian"/></th>
    </tr>
    <tr class="content" th:each="word : ${words}">
        <td><a th:href="@{/words/{id}(id=${word.id})}" th:text="${word.english}"></a></td>
        <td><a th:href="@{/words/{id}(id=${word.id})}" th:text="${word.russian}"></a></td>
    </tr>
</table>
</body>
</html>
