/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

a {
    text-decoration: none;
    color: darkcyan;
}

h1 {
    text-align: center;
    margin-bottom: 5vh;
    padding: 0;
    min-height: 5vh;
}

input {
    font-size: 18px;
    padding: 10px;
    border-radius: 15px;

    background: transparent;
    border-width: 1px;
}

table {
    table-layout: auto;
    margin: 0 auto;
    width: auto;
}

.btn {
    padding: 10px;
    margin-bottom: 5px;

    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    color: darkcyan;
    background: aliceblue;
}

.header {
    padding: 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center; /* Добавляем выравнивание по вертикали */
    gap: 20px;
    background: aliceblue;
}

.header_link {
    font-weight: 900;
    color: darkcyan;
}

.center {
    margin-left: 20vw;
    margin-right: 20vw;
    /*margin: 0 auto;*/
}

.center-table {
    margin: 0 auto;
}

.content {
    text-align: center;
    padding: 20px;
    margin-bottom: 1vh;
    font-size: 25px;
    background: linear-gradient(145deg, #d4e4ec, #ffffff); /* Лёгкий градиент для объёмного эффекта */
    border-radius: 50px;
    color: darkcyan;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2), -6px -6px 12px rgba(255, 255, 255, 0.5); /* Тень для объёма */
}

.list {
    height: 80vh;
}

.to_main {
    text-align: center;
    font-size: 15px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center_form {
    text-align: center;
}

.progress-container {
    width: 60vw; /* ширина 60% от окна, чтобы слева и справа было по 20% */
    margin: 0 auto; /* выравнивание по центру */
    background-color: #e0e0e0; /* цвет фона */
    border-radius: 10px; /* скругленные углы */
    overflow: hidden; /* скрытие излишков */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* легкая тень для контейнера */
}

/* Полоса прогресса */
.progress-bar {
    height: 20px; /* высота полосы */
    background: linear-gradient(to top, #b0e0e6, #add8e6); /* светло-голубой градиент */
    border-radius: 10px 0 0 10px; /* скругление левого края */
    box-shadow: inset 0 -2px 5px rgba(255, 255, 255, 0.5), /* верхний светлый отблеск */
    inset 0 2px 5px rgba(0, 0, 0, 0.1); /* нижняя внутренняя тень */
    transition: width 0.5s ease; /* плавное изменение ширины */
}

.menu {
    width: 25vw;
}