<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <title>Language trainer</title>

</head>
<body class="center">
<header class="header">
    <a class="header_link" href="/">Главная</a>
    <a class="header_link" href="/words">Список слов</a>
</header>
<p class="right" th:text="'ip: ' + ${ip}"></p>

<h1>Language trainer</h1>
<div>
    <p class="content"><a href="/lesson">Начать занятие</a></p>
    <p class="content"><a href="/words">Показать список всех слов</a></p>
    <p class="content"><a href="/words/new">Добавить новое слово</a></p>
</div>
</body>
</html>
