<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/l-t.png" type="image/x-icon">
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Language trainer</title>
</head>

<body class="center-table">

<header class="header">
    <div class="left-section center">
        <a class="header_link" href="/">
            <img src="/img/l-t.png" alt="lt">
        </a>
        <a class="header_link" href="/words">Мой словарь</a>
    </div>
    <div class="right-section center">
        <span th:if="${#authorization.expression('isAuthenticated()')}" class="guest-links">
            <a class="header_link" th:text="${#authentication.name}" href="#"></a>
            <a class="header_link" href="/logout">Выйти</a>
        </span>
        <span th:if="${#authorization.expression('isAnonymous()')}" class="guest-links">
            <a class="header_link" href="/login">Вход</a>
            <a class="header_link" href="/register">Регистрация</a>
        </span>
    </div>
</header>
<p class="right" th:text="'ip: ' + ${ip}"></p>

<h1>Language Trainer</h1>
<div class="center">
    <div class="content-links">
        <p class="content"><a href="/lesson">Начать занятие</a></p>
        <p class="content">
            <a href="#" th:if="${count == 0}" class="inactive-link">Забытые слова</a>
            <a th:if="${count != 0}" href="/lesson/forgotten" th:text="'Забытые слова ' + ${count}"></a>
        </p>
    </div>
    <p class="content"><a href="/words">Мой словарь</a></p>
    <p class="content"><a href="/words/new">Добавить новое слово</a></p>
</div>
</body>

</html>
