<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/l-t.png" type="image/x-icon">
    <link media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css">
    <title>Language trainer</title>
</head>
<body class="center">
<audio autoplay>
    <source th:src="@{/wrong-answer.mp3}" type="audio/mpeg">
</audio>

<header class="header">
    <a class="header_link" href="/">Главная</a>
    <a class="header_link" href="/words">Список слов</a>
</header>

<h1>Language Trainer</h1>
<hr/>
<!--<form class="center_form" action="#" th:action="@{/learn/show}" th:object="${word}" method="get">-->
<form class="content" action="#" th:action="@{/lesson/show}" th:object="${word}" method="get">
<!--    <p><label th:text="${word}"/></p>-->
    <p><label th:text="${word.russian} + ' - ' + ${word.english}"/></p>
    <p><input type="submit" value="Продолжить" autofocus></p>
</form>


<!--<form action="#" th:action="@{/learn}" th:object="${word}" method="post">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <label for="english" th:text="${word.russian}"></label>-->
<!--            </td>-->
<!--            <td>-->
<!--                <input type="text" th:field="*{english}" id="english" placeholder="Перевод" autofocus>-->
<!--            </td>-->
<!--            <td>-->
<!--                <input type="submit" value="Проверить">-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->

</body>
</html>
