<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/l-t.png" type="image/x-icon">
    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Language trainer</title>
</head>
<body class="center-table">

<audio autoplay>
    <source th:src="@{/sound/wrong-answer.mp3}" type="audio/mpeg">
</audio>

<header class="header">
    <div class="left-section center">
        <a class="header_link" href="/">
            <img src="/img/l-t.png" alt="lt">
        </a>
        <a class="header_link" href="/words">Мой словарь</a>
    </div>
    <div class="right-section center">
        <span th:if="${#authorization.expression('isAuthenticated()')}" class="guest-links">
            <a class="header_link" th:text="${#authentication.name}" href="#"></a>
            <a class="header_link" href="/logout">Выйти</a>
        </span>
        <span th:if="${#authorization.expression('isAnonymous()')}" class="guest-links">
            <a class="header_link" href="/login">Вход</a>
            <a class="header_link" href="/register">Регистрация</a>
        </span>
    </div>
</header>

<div class="progress-container">
    <div class="progress-bar" th:style="'width:' + ${progress} + '%'"></div>
</div>

<h1>Language Trainer</h1>
<hr/>
<form class="content center" action="#" th:action="@{/lesson/show}" th:object="${word}" method="get">
    <p><label th:text="${word.russian} + ' - ' + ${word.english}"/></p>
    <p><input type="submit" value="Продолжить" autofocus></p>
</form>

</body>
</html>
